# Nicolas

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
routes = pd.read_csv('data/routes.dat', sep=',', encoding='utf-8')
routes.columns = ['Airline','AirlineID','SourceAirport','SourceAirportID','DestinationAirport','DestinationAirportID','Codeshare','Stops','Equipment']
routes.head()

,Airline,AirlineID,SourceAirport,SourceAirportID,DestinationAirport,DestinationAirportID,Codeshare,Stops,Equipment
0,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
2,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
3,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
4,2B,410,DME,4029,KZN,2990,NaN,0,CR2

In [4]:
airlines = pd.read_csv('data/airlines.dat', sep=',', encoding='utf-8')
airlines.columns = ['Airline ID', 'Name', 'Alias',  'IATA', 'ICAO','Callsign','Country','Active']
airlines.head()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N

In [5]:
airports = pd.read_csv('data/airports.dat', sep=',', encoding='utf-8')
airports.columns = ['Airport ID', 'Name', 'City', 'Country',  'IATA', 'ICAO','Latitude','Longitude','Altitude', 'Timezone','DST', 'Tz database time zone', 'Type', 'Source']
airports.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports

In [42]:
alliances = pd.read_csv('data/alliances.dat', sep=',', encoding='utf-8')
alliances.head()

        Alliance          Airline
0  Star Alliance    Adria Airways
1  Star Alliance  Aegean Airlines
2  Star Alliance       Air Canada
3  Star Alliance        Air China
4  Star Alliance  Air New Zealand

In [43]:
alliances.shape

(60, 2)

In [44]:
merged  = pd.merge(alliances, airlines, left_on='Airline', right_on='Name', how = 'left')
merged[merged['Airline ID'].isnull()]

Empty DataFrame
Columns: [Alliance, Airline, Airline ID, Name, Alias, IATA, ICAO, Callsign, Country, Active]
Index: []

In [45]:
merged

,Alliance,Airline,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,Star Alliance,Adria Airways,83,Adria Airways,\N,JP,ADR,ADRIA,Slovenia,Y
1,Star Alliance,Aegean Airlines,96,Aegean Airlines,\N,A3,AEE,AEGEAN,Greece,Y
2,Star Alliance,Air Canada,330,Air Canada,\N,AC,ACA,AIR CANADA,Canada,Y
3,Star Alliance,Air China,751,Air China,\N,CA,CCA,AIR CHINA,China,Y
4,Star Alliance,Air New Zealand,345,Air New Zealand,\N,NZ,ANZ,NEW ZEALAND,New Zealand,Y
5,Star Alliance,All Nippon Airways,324,All Nippon Airways,ANA All Nippon Airways,NH,ANA,ALL NIPPON,Japan,Y
6,Star Alliance,Asiana Airlines,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
7,Star Alliance,Austrian Airlines,491,Austrian Airlines,\N,OS,AUA,AUSTRIAN,Austria,Y
8,Star Alliance,Avianca - Aerovias Nacionales de Colombia,515,Avianca - Aerovias Nacionales de Colombia,\N,AV,AVA,S.A.,AVIANCA,Y
9,Star Alliance,Brussels Airlines,1531,Brussels Airlines,SN Brussels Airlines,SN,DAT,BEE-LINE,Belgium,Y
10,Star Alliance,Copa Airlines,1889,Copa Airlines,\N,CM,CMP,COPA,Panama,Y
11,Star Alliance,Croatia Airlines,1925,Croatia Airlines,\N,OU,CTN,CROATIA,Croatia,Y
12,Star Alliance,Egyptair,2143,Egyptair,\N,MS,MSR,EGYPTAIR,Egypt,Y
13,Star Alliance,Ethiopian Airlines,2220,Ethiopian Airlines,\N,ET,ETH,ETHIOPIAN,Ethiopia,Y
14,Star Alliance,EVA Air,2091,EVA Air,\N,BR,EVA,EVA,Taiwan,Y
15,Star Alliance,LOT Polish Airlines,3210,LOT Polish Airlines,\N,LO,LOT,POLLOT,Poland,Y
16,Star Alliance,Lufthansa,3320,Lufthansa,\N,LH,DLH,LUFTHANSA,Germany,Y
17,Star Alliance,Scandinavian Airlines System,4319,Scandinavian Airlines System,SAS Scandinavian Airlines,SK,SAS,SCANDINAVIAN,Sweden,Y
18,Star Alliance,Shenzhen Airlines,4611,Shenzhen Airlines,\N,ZH,CSZ,SHENZHEN AIR,China,Y
19,Star Alliance,Singapore Airlines,4435,Singapore Airlines,\N,SQ,SIA,SINGAPORE,Singapore,Y
20,Star Alliance,South African Airways,4305,South African Airways,SAA South African Airways,SA,SAA,SPRINGBOK,South Africa,Y
21,Star Alliance,Swiss International Air Lines,4559,Swiss International Air Lines,Swiss Airlines,LX,SWR,SWISS,Switzerland,Y
22,Star Alliance,TAP Portugal,4869,TAP Portugal,TAP Air Portugal,TP,TAP,AIR PORTUGAL,Portugal,Y
23,Star Alliance,Thai Airways International,4940,Thai Airways International,\N,TG,THA,THAI,Thailand,Y
24,Star Alliance,Turkish Airlines,4951,Turkish Airlines,\N,TK,THY,TURKAIR,Turkey,Y
25,Star Alliance,United Airlines,5209,United Airlines,\N,UA,UAL,UNITED,United States,Y
26,SkyTeam,Aeroflot Russian Airlines,130,Aeroflot Russian Airlines,\N,SU,AFL,AEROFLOT,Russia,Y
27,SkyTeam,Aerolineas Argentinas,412,Aerolineas Argentinas,\N,AR,ARG,ARGENTINA,Argentina,Y
28,SkyTeam,AeroMéxico,321,AeroMéxico,\N,AM,AMX,AEROMEXICO,Mexico,Y
29,SkyTeam,Air Europa,90,Air Europa,\N,UX,AEA,EUROPA,Spain,Y
...,...,...,...,...,...,...,...,...,...,...
31,SkyTeam,Alitalia,596,Alitalia,\N,AZ,AZA,ALITALIA,Italy,Y
32,SkyTeam,China Airlines,1756,China Airlines,\N,CI,CAL,DYNASTY,Taiwan,Y
33,SkyTeam,China Eastern Airlines,1758,China Eastern Airlines,\N,MU,CES,CHINA EASTERN,China,Y
34,SkyTeam,China Southern Airlines,1767,China Southern Airlines,\N,CZ,CSN,CHINA SOUTHERN,China,Y
35,SkyTeam,Czech Airlines,1946,Czech Airlines,CSA Czech Airlines,OK,CSA,CSA-LINES,Czech Republic,Y
36,SkyTeam,Delta Air Lines,2009,Delta Air Lines,\N,DL,DAL,DELTA,United States,Y
37,SkyTeam,Garuda Indonesia,2520,Garuda Indonesia,\N,GA,GIA,INDONESIA,Indonesia,Y
38,SkyTeam,Kenya Airways,3126,Kenya Airways,\N,KQ,KQA,KENYA,Kenya,Y
39,SkyTeam,KLM Royal Dutch Airlines,3090,KLM Royal Dutch Airlines,\N,KL,KLM,KLM,Netherlands,Y
40,SkyTeam,Korean Air,3163,Korean Air,\N,KE,KAL,KOREANAIR,Republic of Korea,Y
41,SkyTeam,Middle East Airlines,3490,Middle East Airlines,\N,ME,MEA,CEDAR JET,Lebanon,Y
42,SkyTeam,Saudi Arabian Airlines,4533,Saudi Arabian Airlines,\N,SV,SVA,SAUDIA,Saudi Arabia,Y
43,SkyTeam,Tarom,5179,Tarom,\N,RO,ROT,TAROM,Romania,Y
44,SkyTeam,Vietnam Airlines,5309,Vietnam Airlines,\N,VN,HVN,VIET NAM AIRLINES,Vietnam,Y
45,SkyTeam,Xiamen Airlines,5484,Xiamen Airlines,\N,MF,CXA,XIAMEN AIR,China,Y
46,One World,Air Berlin,214,Air Berlin,\N,AB,BER,AIR BERLIN,Germany,Y
47,One World,American Airlines,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
48,One World,British Airways,1355,British Airways,\N,BA,BAW,SPEEDBIRD,United Kingdom,Y
49,One World,British Airways,1572,British Airways,\N,NaN,XMS,SANTA,United Kingdom,N
50,One World,Cathay Pacific,1680,Cathay Pacific,\N,CX,CPA,CATHAY,Hong Kong SAR of China,Y
51,One World,Finnair,2350,Finnair,\N,AY,FIN,FINNAIR,Finland,Y
52,One World,Iberia Airlines,2822,Iberia Airlines,\N,IB,IBE,IBERIA,Spain,Y
53,One World,Japan Airlines,2987,Japan Airlines,JAL Japan Airlines,JL,JAL,JAPANAIR,Japan,Y
54,One World,LAN Airlines,3200,LAN Airlines,\N,LA,LAN,LAN,Chile,Y
55,One World,Malaysia Airlines,3378,Malaysia Airlines,\N,MH,MAS,MALAYSIAN,Malaysia,Y
56,One World,Qantas,4089,Qantas,Qantas Airways,QF,QFA,QANTAS,Australia,Y
57,One World,Qatar Airways,4091,Qatar Airways,\N,QR,QTR,QATARI,Qatar,Y
58,One World,Royal Jordanian,4259,Royal Jordanian,\N,RJ,RJA,JORDANIAN,Jordan,Y
59,One World,S7 Airlines,4329,S7 Airlines,Sibir Airlines,S7,SBI,SIBERIAN AIRLINES,Russia,Y
60,One World,SriLankan Airlines,4349,SriLankan Airlines,\N,UL,ALK,SRILANKAN,Sri Lanka,Y